<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @athlete.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @athlete.second_name %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
